ul li{
    list-style: none;
    padding:7px;
    border-radius:10px;
    
}
ul li:hover{
    cursor : default;
    background-color:rgba(150, 47, 47, 0.575)
}
ul{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    height:50px;
}
*{
    margin: 0;
    padding: 0;
}

















































